{% extends "main.html" %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" placeholder="first name here...">
    <br>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" placeholder="last name here...">
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="email here...">
    <br>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="username here...">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password here...">
    <br>
    <input type="submit" value="submit"/>
</form>
{% endblock %}







<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

</body>
</html> -->
